In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.style as style
from scipy import stats
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 1000)
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [10]:
data = pd.read_csv('data_clean.csv').drop('Unnamed: 0', axis=1)

In [11]:
data.head()

,FICO,Approve_Date,Amount,Competition_Rate,Rate,Competitiveness,Cost_funds,Partner_2,Partner_3,Outcome
0,796,2003-10-01,5877.00,4.69,7.53,-1.37,1.84,0,1,0
1,707,2004-08-18,11035.05,5.05,7.19,6.42,1.84,0,1,1
2,707,2004-08-18,11099.00,5.05,7.19,7.67,1.84,0,1,0
3,678,2004-08-23,11187.19,5.05,7.19,8.67,1.84,0,1,1
4,682,2004-07-15,11642.95,4.95,7.19,4.52,1.84,0,1,1

In [14]:
X = data.iloc[:,:-1]

In [21]:
X.drop('Approve_Date', axis=1,inplace=True)

In [17]:
y = data.iloc[:,-1]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [23]:
log_model_1 = LogisticRegression().fit(X_train, y_train)

/Users/abreualberto91/anaconda3/envs/ironhack/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [24]:
from sklearn.metrics import confusion_matrix

y_pred_test = log_model_1.predict(X_test)
pd.DataFrame(confusion_matrix(y_test, y_pred_test))

     0    1
0  409  222
1  273  338

In [25]:
log_model_1.score(X_test, y_test)

0.6014492753623188